.artists {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 3rem;
  padding: 4rem 2rem;

  h1 {
    color: var(--primary);
    font-weight: 800;
    font-size: 2.4rem;
    width: 100%;
    height: 5rem;
  }

  .artistsCardContainer {
    flex-basis: 20rem;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    cursor: pointer;
    overflow: hidden;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 1rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
